{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/dashboard/about.css' %}">
{% endblock %}

{% block user-login %}
    <a class="navbar-brand nav-link" href="../login/">
        {% if user != 'anonymous-user' %}
            <img src="../media/{{login.avtar}}" width="30" height="30" alt="">
            {{user.username}}
        {% else %}
            <img src="../media/default.png" width="30" height="30" alt="">
            Login
        {% endif %}
    </a>
{% endblock %}

{% block body %}
    <div id="mid-top" class="container d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'assets/images/dashboard/about/user-profile.jpg' %}" alt="" class="rounded-circle mx-auto img-fluid mt-5">
        <h1 class="h1 w-50 text-center text-bold">I am known for my reliable wedsites</h1>
    </div>
    <div class="w-100 bg-white text-dark py-5">
        <div class="container d-flex justify-content-around flex-wrap">
            <div class="card my-2 rounded" style="width: 15rem; height: 18rem; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-stack"
                    viewBox="0 0 16 16">
                    <path
                        d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z" />
                    <path
                        d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z" />
                </svg>
                <div class="card-body">
                    <h5>This is heading</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card my-2 rounded" style="width: 15rem; height: 18rem; cursor: pointer;">
                <img class="card-img-top img-thumbnail" src="https://source.unsplash.com/400x400/" alt="Card image cap">
                <div class="card-body">
                    <h5>This is heading</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card my-2 rounded" style="width: 15rem; height: 18rem; cursor: pointer;">
                <img class="card-img-top img-thumbnail" src="https://source.unsplash.com/400x400/" alt="Card image cap">
                <div class="card-body">
                    <h5>This is heading</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card my-2 rounded" style="width: 15rem; height: 18rem; cursor: pointer;">
                <img class="card-img-top img-thumbnail" src="https://source.unsplash.com/400x400/" alt="Card image cap">
                <div class="card-body">
                    <h5>This is heading</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document.body).addClass('d-flex flex-column h-100 text-centre text-white bg-dark');
    </script>
{% endblock %}