{% extends "dashboard/base.html" %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block style %}
    <style>
        * {
            margin: 0;
            padding: 0;
            color: white;
            font-family: 'Padauk', sans-serif;
        }

        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("{% static 'assets/background-images/dashboard/about/about-back.jpg' %}");
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block user-login %}
    <a class="navbar-brand nav-link" href="../login/">
        {% if user != 'anonymous-user' %}
            <img src="../media/{{login.avtar}}" width="30" height="30" alt="">
            {{user.username}}
        {% else %}
            <img src="../media/default.png" width="30" height="30" alt="">
            Login
        {% endif %}
    </a>
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h2 class="h2">Contact Us</h2>
        <form class="row g-3">
            <div class="col-md-6">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-text">@</div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Name with Surname" id="Name">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>

            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                    <option selected class="text-dark">Maharashtra</option>
                    <option class="text-dark">Madhaypardesh</option>
                    <option class="text-dark">Goa</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Any Query</label>
                <textarea class="form-control" style="height: 175px;" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}